@using GOES_X.Model;

<div class="@Style navbar">
    <h2>GOES-X</h2>
    <h4>Geographic coverage</h4>
    <select @bind="@Settings.GeographicCoverage">
        @foreach (var coverage in Enum.GetValues(typeof(GeographicCoverage)))
        {
            <option value="@coverage">@coverage</option>
        }
    </select>
    <h3>Data Timings</h3>
    <input type="checkbox" name="realtime" bind="@Settings.DataTimings.Realtime"/>
    <Checkbox></Checkbox>
    <h3>Products</h3>
    <ul>
        <li></li>
    </ul>
    <button>+</button>
    <h3>Animation Manager</h3>
    <h4>Number of frames</h4>
    <select @bind="@Settings.Animation.NumberOfFrames">
    </select>
    <h4>Intra-frame time</h4>
    <select @bind="@Settings.Animation.IntraFrameTime">
    </select>
    <button>Save the animation</button>
</div>

@code {
    [ParameterAttribute]
    public string Style { get; set; }

    public RuntimeSettings Settings {get; set;} = new RuntimeSettings();

}
